body {
  margin: 0;
  font-family: "Arial", sans-serif;
  height: 100vh;
}

.active1 {
  outline: solid 2px blue;
}

nav {
  margin: 0;
  padding-left: 30px;
  height: 10%;
  display: flex;
  align-items: center;
}
nav a {
  height: 100%;
  vertical-align: middle;
}
nav a img {
  height: 30px;
  width: auto;
  vertical-align: middle;
}

.main-page {
  width: 100%;
  height: 85%;
  display: flex;
}
.main-page .sidebar {
  background-color: #333;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.main-page .sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-page .sidebar .active {
  background-color: #E6142D;
}
.main-page .sidebar a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 15px 0;
  margin: 0 15px;
  transition: background-color 0.3s ease;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 1.5px solid #fff;
}
.main-page .sidebar .search {
  padding: 10px;
  color: #212121;
  display: flex;
  background: rgba(243, 243, 243, 0.2);
}
.main-page .sidebar .search form {
  display: flex;
}
.main-page .sidebar .search form input {
  padding: 10px;
  width: 100%;
  background-color: none;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
.main-page .sidebar .search form input:focus {
  outline: none;
  background-color: none;
}
.main-page .sidebar .search form input[type=text] {
  background: transparent;
  border: none;
}
.main-page .sidebar .search form button {
  background: transparent;
  border: none;
  outline: inherit;
  cursor: pointer;
}
.main-page .sidebar .search form img {
  height: 40px;
}
.main-page .sidebar .dropdown a {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.main-page .sidebar .dropdown-content {
  display: none;
  background-color: #706F6F;
}
.main-page .sidebar .dropdown:hover .dropdown-content, .main-page .sidebar .open {
  display: block;
}
.main-page .content {
  display: flex;
  flex-direction: column;
  padding: 0 100px 50px 100px;
  gap: 40px;
  width: 100%;
}
.main-page .content .banner {
  background-color: #E6142D;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
}
.main-page .content .wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-page .content .wrapper .slider {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-page .content .wrapper .slider img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}
.main-page .content .wrapper .slider img:first-child {
  z-index: 1;
}
.main-page .content .wrapper .slider img:nth-child(2) {
  z-index: 0;
}
.main-page .content .wrapper .navigation-button {
  text-align: center;
  position: relative;
}
.main-page .content .wrapper .navigation-button .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border: 2px solid #E6142D;
  border-radius: 50%;
  display: inline-block;
}
.main-page .content .wrapper .navigation-button .active, .main-page .content .wrapper .navigation-button .dot:hover {
  background-color: #E6142D;
  border: 2px solid #E6142D;
}
.main-page .content .txt-access {
  position: relative;
  padding: 60px 20px 20px 20px;
  font-family: Inter;
  font-size: 22px;
  border: 5px solid #E6142D;
}
.main-page .content .txt-access .rectangle-deco {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #E6142D;
}
.main-page .content .txt-access span {
  font-size: 24px;
  font-weight: 600;
}
.main-page .content .txt-access ul li {
  padding: 10px 0;
}
.main-page .content .carte-campus {
  width: 100%;
  height: 80%;
}
.main-page .content .carte-campus img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top: 10px solid #E6142D;
}
.main-page .content .contrat {
  width: 100%;
  height: 80%;
}
.main-page .content .contrat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top: 10px solid #E6142D;
  object-position: top;
}
.main-page .content .fiche-paie {
  width: 100%;
  height: 80%;
}
.main-page .content .fiche-paie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top: 10px solid #E6142D;
  object-position: top;
}
.main-page .content .profil-page {
  width: 100%;
  height: 80%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-areas: "pp nom contact" "contrat contrat contact" "contrat contrat contact";
  font-family: Inter;
  font-size: 20px;
}
.main-page .content .profil-page .banner2 {
  background-color: #E6142D;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.main-page .content .profil-page .case {
  border: 2px solid #E6142D;
}
.main-page .content .profil-page .case-pp {
  grid-area: pp;
}
.main-page .content .profil-page .case-nom {
  grid-area: nom;
}
.main-page .content .profil-page .case-contact {
  grid-area: contact;
}
.main-page .content .profil-page .case-contrat {
  grid-area: contrat;
}
.main-page .content .profil-page ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-page .content .profil-page ul li {
  padding: 10px 0;
}
.main-page .content .page-edt {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-page .content .page-edt .header-edt {
  display: flex;
  justify-content: space-between;
}
.main-page .content .page-edt .header-edt ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  font-family: Inter;
  font-size: 20px;
}
.main-page .content .page-edt .header-edt ul li {
  padding: 5px;
  border: 1.5px solid #706F6F;
  border-radius: 5px;
}
.main-page .content .page-edt .header-edt ul .arrow {
  height: 70%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.main-page .content .page-edt .header-edt ul .we-date {
  margin: 0;
  display: flex;
}
.main-page .content .page-edt .header-edt ul .btn-edt {
  cursor: pointer;
}
.main-page .content .page-edt .calendar {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border: 2px solid #706F6F;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: Inter;
}
.main-page .content .page-edt .calendar th, .main-page .content .page-edt .calendar td {
  border: 1px solid #706F6F;
  padding: 10px;
  text-align: left;
}
.main-page .content .page-edt .calendar .meeting {
  background-color: #B1D7F3;
}
.main-page .content .page-edt .calendar .cours {
  height: 60px;
}
.main-page .content .page-edt .calendar caption {
  padding: 10px;
  caption-side: bottom;
}

footer {
  padding: 0 30px;
  height: 5%;
  background-color: #212121;
  color: #fff;
  display: flex;
  justify-items: center;
}

/*# sourceMappingURL=build.css.map */
